body {
    background-color:#4f1d53;
    font-family: fantasy
        
  
}
a:hover{
color:#1a1a1a
}

h1 {
    color: #7b8000
        ;}


p {
    color: aliceblue
        
    
    
}




















































